footer {
    background: #fff;
    padding: 0px 20px 0;
    height: 35px;
    margin: 0 -17px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 230px;
    width: calc(100% - 230px);
}

.list_search_form .list_label_first {
    padding: 8px;
    float: left;
}

.list_search_form .list_inputbox {

}

.list_search_form .list_label {
    padding: 8px;
    float: left;
}
.list_search_form .search_btn {
    float: right;
}
.list_search_form .group_box {
    width: 380px;
    float: left;
}
.profile_info {
    position: relative;
    width:80%; 
    padding:0;
    margin: 20px;

}
#sidebar-menu {
    margin-top: 10px;
}

body.nav-sm .navbar.nav_title a img {
    margin-left: -20px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 147% !important;
}